Hello, {{name}}!
<form action="/search_results" method="GET">

  <label><h1>Welcome to Restaurant Reviewer</h1></label><br>
  Enter Restaurant or Category Name: <input type="text" name="searchTerm" size="50">


  <button type="submit">Search</button>
</form>
<p><a href="/logout">Log out</a></p>
