<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurant Reviewer</title>
  </head>
  <style>

body {
    background-color: #FBF6E5;
    text-align: center;
  }

form {
  text-align: center;
  /*padding-top: 5%;*/
}

  </style>
  <body>
    {{{body}}}
  </body>
</html>
